/* Шрифты */
@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: url('../fonts/arialroundedmtbold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('../fonts/ELEPHNT.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Шрифты */

/* Global styles */
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Roboto Slab", sans-serif;
  --third-family: "Roboto Serif", sans-serif;
  --font3: "Arial Rounded MT Bold", sans-serif;
  --font4: "Elephant", sans-serif;
  --font5: "Fanwood Text", sans-serif;
  --font6: "Rufina", sans-serif;
}

.container {
  max-width: 1400px;
  padding-inline: 10px;
  margin: auto;
}

.btn {
  border: 2px solid #224f34;
  border-radius: 3px;
  padding: 11px 41px;
}

a {
  transition: .2s;

  &:hover {
    transform: scale(1.2);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  max-width: none;
  max-height: none;
}

/* burger-menu */
.burger {
  display: none;
  width: 40px;
  height: 40px;
  margin-inline: 20px;
  background: transparent;

  span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px auto;
    background: var(--gray-900, #333);
    border-radius: 2px;
    transition: transform .3s, opacity .3s;
  }

  &[aria-expanded="true"] span {
    &:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

/* burger-menu */

/* Global styles */

/* body */
.first-screen {
  background-color: #C2EFD4;
  min-width: max-content;
  min-height: 100vh;
  padding-block: 1px 166px;


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 54px 130px;

    .homepage {
      font-family: var(--font4);
      font-weight: 400;
      font-size: 40px;
      color: #224f34;
    }

    .menu {
      margin-inline: auto 8%;
      display: flex;

      nav {
        ul {
          display: flex;
          width: 493px;
          justify-content: space-between;

          font-family: var(--font-family);
          font-weight: 500;
          font-size: 22px;
          text-transform: uppercase;
          color: #224f34;

          a:hover {
            color: #66a37e;
          }
        }
      }
    }

    .shopping-bag {
      margin-inline: 4.3%;
      transition: .3s;
      position: relative;

      &:hover {
        transform: scale(1.2);
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: -15px;
        bottom: -15px;
        background: url(../images/icons/bag-ellipse.svg) no-repeat 0 0 / 100%;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        fill: #10ff70;
      }
    }

    .login {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: #224f34;
    }
  }

  section.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .content {
      flex: 1 1 500px;
      max-width: 650px;
      margin-top: 1.5%;

      h1 {
        font-family: var(--font6);
        font-weight: 700;
        font-size: 86px;
        color: #224f34;
      }

      p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        line-height: 220%;
        color: #267d49;

        margin: 27px 84px 54px 0;
      }

      a {
        display: inline-block;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        box-shadow: 6px 33px 59px 0 rgba(0, 0, 0, 0.3);
        background: #224f34;
        padding: 22px 60px;
      }
    }

    .media {
      flex: 1 1 500px;
      max-width: 570px;
      width: 100%;
      aspect-ratio: 570 / 717;

      .wrap {
        border-radius: 141px 45px 150px 82px;
        background: #6bc785;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .decor {
          position: absolute;

          &.first {
            right: 2%;
            top: 22%;
          }

          &.second {
            left: 2%;
            bottom: 22%;
          }
        }

        .woman {
          position: absolute;
          right: 50%;
          bottom: 0;
          transform: translateX(50%);
        }
      }
    }
  }
}

/* body */