/* body */
.first-screen {
  background-color: #C2EFD4;
  min-width: max-content;
  min-height: 100vh;
  padding-block: 1px 166px;


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 54px 130px;
    flex-wrap: wrap;

    .homepage {
      font-family: var(--font4);
      font-weight: 400;
      font-size: 40px;
      color: #224f34;
    }

    .menu {
      margin-inline: auto 8%;
      display: flex;

      nav {
        ul {
          display: flex;
          width: 493px;
          justify-content: space-between;

          font-family: var(--font-family);
          font-weight: 500;
          font-size: 22px;
          text-transform: uppercase;
          color: #224f34;

          a:hover {
            color: #66a37e;
          }
        }
      }
    }

    .shopping-bag {
      margin-inline: 4.3%;
      transition: .3s;
      position: relative;

      &:hover {
        transform: scale(1.2);
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: -15px;
        bottom: -15px;
        background: url(../images/icons/bag-ellipse.svg) no-repeat 0 0 / 100%;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        fill: #10ff70;
      }
    }

    .login {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: #224f34;
    }
  }

  section.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .content {
      flex: 1 1 500px;
      max-width: 650px;
      margin-top: 1.5%;

      h1 {
        font-family: var(--font6);
        font-weight: 700;
        font-size: 86px;
        color: #224f34;
      }

      p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        line-height: 220%;
        color: #267d49;

        margin: 27px 84px 54px 0;
      }

      a {
        display: inline-block;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        box-shadow: 6px 33px 59px 0 rgba(0, 0, 0, 0.3);
        background: #224f34;
        padding: 22px 60px;
      }
    }

    .media {
      flex: 1 1 400px;
      max-width: 570px;
      aspect-ratio: 570 / 717;

      .wrap {
        border-radius: 141px 45px 150px 82px;
        background: #6bc785;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .decor {
          position: absolute;

          &.first {
            right: 2%;
            top: 22%;
          }

          &.second {
            left: 2%;
            bottom: 22%;
          }
        }

        .woman {
          position: absolute;
          right: 50%;
          bottom: 0;
          transform: translateX(50%);
        }
      }
    }
  }
}

section.best-selling {
  padding-block: 114px 92px;

  .products {
    margin-block: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;

      .product-img {
        border-radius: 3px;
      }

      &:nth-child(3n + 1) .product-img {
        background: #93b9a2;
      }

      &:nth-child(3n + 2) .product-img {
        background: #a9d4ba;
      }

      &:nth-child(3n) .product-img {
        background: #cadcd0;
      }
    }
  }

  a.btn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: #224f34;
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 16px 55px;
    margin-inline: auto;

    img {
      margin-left: 18px;
    }
  }
}

section.our-products {
  padding-block: 92px 97px;

  .fltr-buttons {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #454545;
    display: flex;
    gap: 100px;
    justify-self: center;
    margin-block: 70px 80px;

    .active {
      color: #224f34;
      border-bottom: 2px solid #224f34;
    }
  }

  .fltr-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 82px;
    column-gap: 20px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .img-wrap {
        width: 318px;
        aspect-ratio: 318 / 378;
        max-width: 100%;
        position: relative;

        .product-img {
          background-color: white;
          position: absolute;
          bottom: 0;
          right: 50%;
          transform: translateX(50%);
        }
      }

      .info {
        margin-top: 36px;
      }
    }
  }
}

section.exclusive-offer {
  padding-block: 97px 109px;
  position: relative;
  z-index: -999;

  .container {
    z-index: -999;
    position: relative;
  }

  .wrap {
    background: #c2efd4;
    border-radius: 3px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: -2;

    .decor {
      position: absolute;
      left: 41px;
      bottom: 41px;
      z-index: -1;
    }

    .media {
      margin-left: 81px;
      align-self: flex-end;
    }

    .content {
      margin-right: 121px;
      margin-block: 10px;
      color: #224f34;
      font-family: var(--font-family);
      width: 590px;

      h2 {
        font-weight: 700;
        font-size: 46px;
        margin-bottom: 20px;
      }

      p {
        font-weight: 500;
        font-size: 22px;
        line-height: 167%;
      }

      .timer {
        display: flex;
        gap: 35px;
        margin-block: 40px;

        .timer__item {
          border-radius: 3px;
          box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.05);
          width: 100px;
          height: 100px;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;

          .timer__value {
            font-weight: 600;
            font-size: 32px;
          }

          .timer__label {
            font-weight: 500;
            font-size: 16px;
          }
        }
      }

      a.button {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.05);
        background: #224f34;
        padding: 22px 70px;
      }
    }
  }
}

section.designer-clothes {
  padding-block: 109px 125px;

  .heading-subtitle {
    margin-bottom: 72px;
  }

  .items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    .item {
      width: 430px;

      .info {
        color: #373737;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 30px;
        }

        p {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 22px;
          line-height: 143%;
        }
      }
    }
  }
}

section.feedback-corner {
  padding-block: 125px 93px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-heading {
    margin-bottom: 109px;
  }

  .swiper {
    width: 100%;
    height: 253px;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        padding: 25px;
        box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.05);
        background: #fff;
        transition: .3s;

        .quotes {
          font-family: var(--font3);
          font-weight: 400;
          font-size: 60px;
          color: #224f34;
        }

        .name {
          font-family: var(--third-family);
          font-weight: 600;
          font-size: 22px;
          color: #224f34;
          margin-bottom: 30px;
        }

        .text {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 16px;
          color: #6f6f6f;
        }

        &.swiper-slide-next {
          background: #c2efd4;

          .text {
            color: #224f34;
          }
        }
      }
    }
  }

  .swiper-nav {
    display: flex;
    margin-top: 125px;
    gap: 50px;
    outline: none;

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      left: unset;
      right: unset;
      top: unset;
      margin: 0;
      color: #224F34;
      width: 40px;
      height: 40px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: .3s;

      &:hover {
        background: #c2efd4;
      }
    }

    .swiper-button-next img {
      transform: scale(-1);
    }
  }
}

footer {
  background: #224f34;
  padding-block: 80px;

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .bottom {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-top: 150px;

    .line {
      flex: 1;
      border: 2px solid #a3f3be;
      height: 0;
    }

    ul {
      display: flex;
      gap: 35px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      text-transform: capitalize;
      color: #fff;
    }
  }
}

/* body */