@media (max-width: 1328px) {
  .hero .content>img {
    margin: 0 !important;
  }
}

@media (max-width: 1260px) {
  .button {
    padding: 0 20px;
  }

  .hero {
    header {
      .logo {
        margin-right: 0;
      }

      nav {
        margin-right: 0;
      }

      &>div {
        margin-left: 0;
      }
    }

    .content {
      justify-content: space-around;

      .text {
        .slogan {
          font-size: 55px;
        }
      }

      >img {
        max-width: 40%;
      }
    }

    .stats {
      ul {
        justify-content: space-around;

        li {
          span {
            font-size: 35px;
          }
        }
      }
    }
  }

  section.about-us {
    .content {
      >img {
        width: 40%;
      }
    }

    .stats {
      >img {
        width: 60%;
      }
    }
  }

  section.directions {
    .filter-container {
      .grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  section.certificate {
    .container {
      justify-content: space-around;

      img {
        width: 40%;
      }
    }
  }

  section.testimonials {
    .container {
      align-items: center;
    }

    .slider {
      max-width: 80%;

      .testimonial {
        .wrap {
          margin: auto;
          padding: 32px 55px;
          max-width: 90%;
        }
      }
    }
  }

  section.best-jobs {
    .logos {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  section.our-blog {
    .top {
      justify-content: space-around;
    }

    .posts {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  section.contact-info {
    span {
      display: inline-block;
      white-space: unset;
    }

    .container {
      justify-content: space-around;

      .left {
        max-width: 300px;
      }

      .right {
        width: 400px;
      }
    }
  }

  section.course-program {
    .container {
      justify-content: space-around;

      >img {
        width: 35%;
      }
    }
  }

  section.any-questions {
    .container {
      justify-content: space-around;
    }

    .left img {
      width: 380px;
    }

    .right {
      width: 340px !important;

      form {
        textarea {
          width: 340px !important;
        }
      }
    }
  }

  footer {
    .top {
      .company-profile {
        width: 200px;

        .icons {
          gap: 0;
          justify-content: space-between;
        }
      }

      .sign-up {
        max-width: 200px;
      }
    }
  }
}

@media (max-width: 940px) {}